@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root{
  --black: #121214;
  --purple: #6B21A8;
  --white-1: #F7F7F7;
  --gray: #6F7683;
}

